html {
  text-align: center;
  font-family: Helvetica;
}

#header {
  background-image: url(../images/flatiron.png);
  background-size: cover;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

nav a{
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
